Repository vkoves/electrify-chicago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright, lockfile, update-requirements, typescript-format, typescript-lint, typescript-typecheck, yarn-lockfile

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
        exclude: 'src/services/logfire-worker/logfire_worker/emails/templates/.*\.html$'
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        entry: uv run ruff
        args: ["check", "--fix"]
        types: [python]
        language: system
        pass_filenames: false
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [src]
        language: system
        types: [file]
        pass_filenames: false
        files: '^(uv\.lock|pyproject\.toml|.*\.py)$'
      - id: lockfile
        name: lockfile
        entry: uv sync
        args: [--locked]
        language: system
        pass_filenames: false
        files: "pyproject.toml|uv.lock"
      - id: update-requirements
        name: update-requirements
        entry: uv export
        args: ["--format", "requirements-txt", "--output-file", "requirements.txt"]
        language: system
        pass_filenames: false
        files: "pyproject.toml|uv.lock"
      - id: typescript-format
        name: typescript-format
        files: '\\.(js|jsx|ts|tsx|vue|css|scss|json|md)$'
        types: [file]
        exclude: "(node_modules/.*|dist/.*|build/.*|\\.gridsome/.*|static/.*)$"
        entry: yarn prettier-fix
        language: system
        pass_filenames: false
      - id: typescript-lint
        name: typescript-lint
        files: '\\.(js|jsx|ts|tsx|vue|css|scss)$'
        exclude: "(node_modules/.*|dist/.*|build/.*|\\.gridsome/.*|static/.*)$"
        types: [file]
        entry: yarn lint
        require_serial: true
        language: system
        pass_filenames: false
      - id: typescript-typecheck
        name: typescript-typecheck
        files: '\\.(ts|tsx|vue)$|tsconfig.*\\.json$|package\\.json$'
        types: [file]
        entry: npx tsc --noEmit
        require_serial: true
        pass_filenames: false
        language: system
      - id: yarn-lockfile
        name: yarn-lockfile
        entry: yarn install --frozen-lockfile
        language: system
        pass_filenames: false
        files: "package\\.json|yarn\\.lock"

Add ability to generate individual building social images
  README.md
  scripts/generateSocialImages.ts
  src/pages/BuildingImageUploader.vue
Due: none

Regenerate social images for buildings with new images
  src/constants/building-images.constant.vue
  static/social-images/building-100856.webp
  static/social-images/building-101762.webp
  static/social-images/building-103595.webp
  static/social-images/building-103669.webp
  static/social-images/building-103677.webp
  static/social-images/building-103748.webp
  static/social-images/building-238910.webp
  static/social-images/building-250129.webp
  static/social-images/building-254170.webp
  static/social-images/building-256808.webp
Due: none

Improve search with better street handling
  src/components/WardLookup.vue
  src/pages/Search.vue
Due: none

Try fixing pre-commit hooks not running yarn lint and prettier
  .pre-commit-config.yaml
Due: none

Run yarn lint-fix
  src/components/WardLookup.vue
  src/constants/building-images.constant.vue
  src/layouts/Default.vue
  src/pages/Admin.vue
  src/pages/BuildingImageUploader.vue
  src/pages/SocialCards.vue
Due: none

Fix TSX checking packages
  tsconfig.json
Due: none

create WardsTable component and add to Wards page
  src/components/WardsTable.vue
  src/pages/Wards.vue
Due: none

Integrate export button into WardsTable
  src/components/WardsTable.vue
  src/templates/BuildingDetails.vue
Due: none

lint fixes
  src/components/ExportButton.vue
  src/components/WardsTable.vue
  src/pages/Wards.vue
Due: none

clean up code
  src/components/WardsTable.vue
Due: none

Calculate compliance rate and add new columns to table and export
  src/components/WardsTable.vue
Due: none

run linter
  src/components/WardsTable.vue
Due: none

Rerun data pipeline with reporrting grades fix
  src/data/dist/benchmarking-all-years.csv
  src/data/dist/building-benchmarks.csv
  src/data/dist/building-statistics-by-property-type.json
Due: none

Add Claude test
  tests/data/scripts/unit/test_grade_buildings.py
Due: ruff, ruff-format, pyright

Start Social Images Modal
  src/components/BuildingSocialSquare.vue
  src/components/ShareButton.vue
  src/components/ShareImagesModal.vue
  src/templates/BuildingDetails.vue
  static/icons/arrow-next.svg
Due: none

Add social share images downloads
  package.json
  src/components/ShareImagesModal.vue
  src/download-helpers.vue
  src/pages/BuildingImageUploader.vue
  yarn.lock
Due: yarn-lockfile

Improve building social image
  src/components/BuildingSocialSquare.vue
Due: none

Add report card and energy graph to social card
  src/components/BuildingSocialSquare.vue
  src/components/graphs/PieChart.vue
Due: none

Tweaks to social images
  src/components/BuildingSocialSquare.vue
  src/components/ReportCard.vue
Due: none

Move ward stats functions, add new ward stats CSV, add module
  run_all.py
  src/data/dist/ward-stats.csv
  src/data/scripts/generate_ward_stats.py
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

Added ward stats csv to gridsome, refactor ward table frontend code
  gridsome.server.js
  src/components/WardsTable.vue
  src/pages/Wards.vue
Due: none

Run Python linting
  src/data/scripts/generate_ward_stats.py
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

Fix Pyright errors
  src/data/scripts/generate_ward_stats.py
Due: ruff, ruff-format, pyright

Fix log outputs for data processing scripts
  src/data/scripts/calculate_fines.py
  src/data/scripts/detect_anomalous_buildings.py
  src/data/scripts/generate_historic_stats.py
  src/data/scripts/generate_property_type_stats.py
  src/data/scripts/generate_ward_stats.py
Due: ruff, ruff-format, pyright

Update log output test
  tests/data/scripts/unit/test_generate_historic_stats.py
Due: ruff, ruff-format, pyright

Add Unit tests, code cleanup
  src/data/scripts/generate_ward_stats.py
  tests/data/scripts/unit/test_generate_ward_stats.py
Due: ruff, ruff-format, pyright

PyTest fixes
  src/data/scripts/generate_ward_stats.py
Due: ruff, ruff-format, pyright

Added Print Formatting to Ward and other Pages
  src/components/BuildingsHero.vue
  src/components/BuildingsMap.vue
  src/components/BuildingsTable.vue
  src/components/DataDisclaimer.vue
  src/components/DataSourceFootnote.vue
  src/scss/global.scss
  src/scss/stat-tiles.scss
  src/templates/BuildingDetails.vue
  src/templates/BuildingOwner.vue
  src/templates/PropertyType.vue
  src/templates/Ward.vue
Due: none

Applied Formatter
  .vscode/settings.json
  README.md
  src/common-functions.vue
  src/components/BuildingsMap.vue
Due: none

Update release notes
  src/pages/ReleaseNotes.vue
  static/release-notes/2026/ward-table.webp.webp
Due: none

Run linter
  src/pages/ReleaseNotes.vue
  static/release-notes/2026/ward-table.webp
Due: none

Fixed Visual Bug
  src/components/BuildingsHero.vue
  src/templates/Ward.vue
Due: none

Rename format to Prettier
  .pre-commit-config.yaml
Due: none

Run prettier
  README.md
  src/common-functions.vue
  src/components/BuildingsHero.vue
  src/templates/Ward.vue
Due: none

Add search autocomplete Resolves #18
  .gitignore
  gridsome.server.js
  src/common-functions.vue
  src/components/BuildingSearchAutocomplete.vue
  src/components/layout/AppHeader.vue
  src/pages/Index.vue
  src/pages/Search.vue
Due: none

Migrate search index to pre-built CSV Improves build performance, since the CSV won't change unless building data changes
  .gitignore
  gridsome.server.js
  run_all.py
  src/common-functions.vue
  src/components/BuildingSearchAutocomplete.vue
  src/data/README.md
  src/data/dist/building-search-index.csv
  src/data/scripts/generate_search_index.py
  src/utils/alder-data.vue
  tests/data/scripts/unit/test_generate_search_index.py
Due: ruff, ruff-format, pyright

Regenerate Playwright snapshots
  e2e/building-print-snapshots.spec.ts-snapshots/all-electric-building-print-page1-Desktop-Chrome-linux.png
  e2e/building-print-snapshots.spec.ts-snapshots/mix-building--merch-mart--print-page1-Desktop-Chrome-linux.png
  e2e/building-print-snapshots.spec.ts-snapshots/no-image-building-print-page1-Desktop-Chrome-linux.png
  e2e/core-pages-snapshots.spec.ts-snapshots/search-Desktop-Chrome-linux.png
  e2e/core-pages-snapshots.spec.ts-snapshots/search-Mobile-Chrome-linux.png
  e2e/listing-pages-snapshots.spec.ts-snapshots/ward-47-Desktop-Chrome-linux.png
  e2e/listing-pages-snapshots.spec.ts-snapshots/ward-47-Mobile-Chrome-linux.png
Due: none

Show Not Submitted Buildings
  src/data/dist/building-benchmarks.csv
  src/data/dist/building-statistics-by-property-type.json
  src/data/dist/historic-stats-by-property-type.json
  src/data/dist/property-types.json
  src/data/scripts/clean_and_split_data.py
  tests/data/scripts/unit/test_clean_never_submitted.py
  tests/data/source/test_never_submitted_src_data.csv
Due: ruff, ruff-format, pyright

Add never submitted page
  src/pages/About.vue
  src/pages/NeverSubmitted.vue
Due: none

Improve Not Submitted buildings
  src/components/StatTile.vue
  src/templates/BuildingDetails.vue
Due: none
