Repository vkoves/electrify-chicago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright, lockfile, update-requirements, typescript-format, typescript-lint, typescript-typecheck, yarn-lockfile

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
        exclude: 'src/services/logfire-worker/logfire_worker/emails/templates/.*\.html$'
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        entry: uv run ruff
        args: ["check", "--fix"]
        types: [python]
        language: system
        pass_filenames: false
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [src]
        language: system
        types: [file]
        pass_filenames: false
        files: '^(uv\.lock|pyproject\.toml|.*\.py)$'
      - id: lockfile
        name: lockfile
        entry: uv sync
        args: [--locked]
        language: system
        pass_filenames: false
        files: "pyproject.toml|uv.lock"
      - id: update-requirements
        name: update-requirements
        entry: uv export
        args: ["--format", "requirements-txt", "--output-file", "requirements.txt"]
        language: system
        pass_filenames: false
        files: "pyproject.toml|uv.lock"
      - id: typescript-format
        name: typescript-format
        files: '\\.(js|jsx|ts|tsx|vue|css|scss|json|md)$'
        types: [file]
        exclude: "(node_modules/.*|dist/.*|build/.*|\\.gridsome/.*|static/.*)$"
        entry: yarn prettier-fix
        language: system
        pass_filenames: false
      - id: typescript-lint
        name: typescript-lint
        files: '\\.(js|jsx|ts|tsx|vue|css|scss)$'
        exclude: "(node_modules/.*|dist/.*|build/.*|\\.gridsome/.*|static/.*)$"
        types: [file]
        entry: yarn lint
        require_serial: true
        language: system
        pass_filenames: false
      - id: typescript-typecheck
        name: typescript-typecheck
        files: '\\.(ts|tsx|vue)$|tsconfig.*\\.json$|package\\.json$'
        types: [file]
        entry: npx tsc --noEmit
        require_serial: true
        pass_filenames: false
        language: system
      - id: yarn-lockfile
        name: yarn-lockfile
        entry: yarn install --frozen-lockfile
        language: system
        pass_filenames: false
        files: "package\\.json|yarn\\.lock"

Add EOF newline
  src/constants/README.md
Due: none

Issue 230: added a calculate fines script
  src/data/scripts/calculate_fines.py
Due: ruff, ruff-format, pyright

Optimize LatestUpdates with new FirstYearReported and LastYearReported columns This lets us easily pull new buildings and buildings that stopped reporting without pulling historic data
  gridsome.server.js
  src/common-functions.vue
  src/data/dist/building-benchmark-stats.json
  src/data/dist/building-benchmarks.csv
  src/data/dist/building-statistics-by-property-type.json
  src/data/dist/historic-stats.json
  src/data/dist/property-types.json
  src/data/scripts/generate_historic_stats.py
  src/data/scripts/process_data.py
  src/pages/LatestUpdates.vue
Due: ruff, ruff-format, pyright

Fix JSON files generating with EOF newline
  src/data/dist/building-benchmark-stats.json
  src/data/dist/building-statistics-by-property-type.json
  src/data/dist/historic-stats.json
  src/data/dist/property-types.json
  src/data/scripts/add_context_by_property_type.py
  src/data/scripts/generate_historic_stats.py
  src/data/scripts/process_data.py
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

Try fixing Pyright issue
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

Run Ruff format
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

Optimize LatestUpdates queries even more
  src/pages/LatestUpdates.vue
Due: none

Add reporting years tests
  tests/data/scripts/unit/test_reporting_years.py
Due: ruff, ruff-format, pyright

Migrate building owners to JSON and CSV, optimizing BuildingOwner.vue
  OwnersRefactor.md
  README.md
  run_all.py
  src/common-functions.vue
  src/constants/building-owners-mapping.json
  src/constants/buildings-custom-info.constant.vue
  src/data/dist/building-benchmarks.csv
  src/data/scripts/add_building_owners.py
  src/templates/BuildingOwner.vue
  tests/data/scripts/unit/test_add_building_owners.py
Due: ruff, ruff-format, pyright

Migrate frontend to use new owner JSON
  src/components/OwnerLogo.vue
  src/components/social-cards/OwnerSocialCard.vue
  src/constants/README.md
  src/constants/buildings-custom-info.constant.vue
Due: none

Fix linting issue
  tests/data/scripts/unit/test_reporting_years.py
Due: ruff, ruff-format, pyright

Document caclculate_fines and clean with helper scripts
  src/data/dist/fines-by-year.json
  src/data/scripts/calculate_fines.py
  src/data/scripts/generate_historic_stats.py
Due: ruff, ruff-format, pyright

Run Ruff format
  run_all.py
  src/data/scripts/calculate_fines.py
Due: ruff, ruff-format, pyright

Add fines breakdown page
  src/pages/About.vue
  src/pages/FinesBreakdown.vue
Due: none

Fix Pywright error
  src/data/scripts/calculate_fines.py
Due: ruff, ruff-format, pyright

Add some Claude tests for calculate_fines
  tests/data/scripts/unit/test_calculate_fines.py
Due: ruff, ruff-format, pyright

Migrate calculate_fines to write_json_with_newline
  src/data/scripts/calculate_fines.py
Due: ruff, ruff-format, pyright

Tweak Latest Updates language
  src/pages/LatestUpdates.vue
Due: none

Fix linting issues
  src/data/scripts/add_building_owners.py
  tests/data/scripts/unit/test_add_building_owners.py
Due: ruff, ruff-format, pyright

Added calculateBuildingsStats function
  src/common-functions.vue
Due: none

refactored with calculateBuildingsStats function
  src/templates/BuildingOwner.vue
Due: none

refactored Ward.vue with calculateBuildingsStats function
  src/common-functions.vue
  src/templates/BuildingOwner.vue
  src/templates/Ward.vue
Due: none

Undo intentional breakage
  playwright.config.ts
  src/components/BuildingTile.vue
  src/components/OverallRankEmoji.vue
Due: none

Add empty alt attribute to back icons
  src/pages/blog/GHGIntensityPredictCompliance.vue
  src/pages/blog/HowWeGradeBuildings.vue
  src/pages/blog/MillionsInMissedFines.vue
  src/templates/BuildingOwner.vue
  src/templates/Ward.vue
Due: none

Update docs
  src/common-functions.vue
Due: none

Add wards page to release notes
  src/pages/ReleaseNotes.vue
Due: none

proposing an alternative to if statements for filtering in Search.vue
  src/pages/Search.vue
Due: none

Create basic Take Action page
  src/components/ShareButton.vue
  src/pages/Act.vue
Due: none

Add basic Ward lookup
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  package.json
  src/components/WardLookup.vue
  src/google-maps-loader.ts
  src/pages/Act.vue
  static/chicago-wards-2025.geojson
  yarn.lock
Due: yarn-lockfile

Add alder lookup to /wards and add alder to ward pages
  src/components/NewTabIcon.vue
  src/components/WardLookup.vue
  src/components/alder-images.constant.vue
  src/google-maps-loader.vue
  src/pages/Act.vue
  src/pages/Wards.vue
  src/templates/Ward.vue
  static/new-tab-white.svg
Due: none

Run linting
  src/components/WardLookup.vue
  src/google-maps-loader.vue
  src/templates/Ward.vue
Due: none

Add hero to wards page
  src/pages/Wards.vue
Due: none

More ward tweaks
  src/components/WardLookup.vue
  src/templates/Ward.vue
  static/chicago-wards-2025.geojson
Due: none

Add Hunter hero image to /act page
  src/pages/Act.vue
  static/blog/hunter-united-center-still-500p.webp
  static/blog/hunter-united-center-still.webp
Due: none

Split Act into two columns
  src/pages/Act.vue
Due: none

Further improved /act page with prettier alderman lookup
  src/components/ShareButton.vue
  src/components/WardLookup.vue
  src/pages/Act.vue
Due: none

Improve Alder result layout more
  src/components/WardLookup.vue
  src/pages/Act.vue
Due: none

Flip Act page to use grid layout
  src/components/WardLookup.vue
  src/pages/Act.vue
Due: none

Add animation to alder results
  src/components/WardLookup.vue
  src/pages/Act.vue
  src/scss/global.scss
Due: none
