Repository vkoves/electrify-chicago: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright, lockfile, update-requirements, typescript-format, typescript-lint, typescript-typecheck, yarn-lockfile

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
        exclude: 'src/services/logfire-worker/logfire_worker/emails/templates/.*\.html$'
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        entry: uv run ruff
        args: ["check", "--fix"]
        types: [python]
        language: system
        pass_filenames: false
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [src]
        language: system
        types: [file]
        pass_filenames: false
        files: '^(uv\.lock|pyproject\.toml|.*\.py)$'
      - id: lockfile
        name: lockfile
        entry: uv sync
        args: [--locked]
        language: system
        pass_filenames: false
        files: "pyproject.toml|uv.lock"
      - id: update-requirements
        name: update-requirements
        entry: uv export
        args: ["--format", "requirements-txt", "--output-file", "requirements.txt"]
        language: system
        pass_filenames: false
        files: "pyproject.toml|uv.lock"
      - id: typescript-format
        name: typescript-format
        files: '\\.(js|jsx|ts|tsx|vue|css|scss|json|md)$'
        types: [file]
        exclude: "(node_modules/.*|dist/.*|build/.*|\\.gridsome/.*|static/.*)$"
        entry: yarn prettier-fix
        language: system
        pass_filenames: false
      - id: typescript-lint
        name: typescript-lint
        files: '\\.(js|jsx|ts|tsx|vue|css|scss)$'
        exclude: "(node_modules/.*|dist/.*|build/.*|\\.gridsome/.*|static/.*)$"
        types: [file]
        entry: yarn lint
        require_serial: true
        language: system
        pass_filenames: false
      - id: typescript-typecheck
        name: typescript-typecheck
        files: '\\.(ts|tsx|vue)$|tsconfig.*\\.json$|package\\.json$'
        types: [file]
        entry: npx tsc --noEmit
        require_serial: true
        pass_filenames: false
        language: system
      - id: yarn-lockfile
        name: yarn-lockfile
        entry: yarn install --frozen-lockfile
        language: system
        pass_filenames: false
        files: "package\\.json|yarn\\.lock"

Lint fixes
  src/data/scripts/clean_and_split_data.py
Due: ruff, ruff-format, pyright

Fix trailing whitespace
  src/data/scripts/clean_and_split_data.py
Due: ruff, ruff-format, pyright

rename geoJSON, update data README, clean up comments
  src/data/README.md
  src/data/scripts/clean_and_split_data.py
  src/data/source/benchmark_building_locations_fixed.geojson
Due: ruff, ruff-format, pyright

move geojson parsing to utils
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

refactor coordinate parsing in utils, add helper
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

remove redundant code, run linter
  src/data/scripts/clean_and_split_data.py
Due: ruff, ruff-format, pyright

fix pyright error
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

fix trailing whitespace
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

Ruff Format fix
  src/data/scripts/clean_and_split_data.py
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

added unit tests
  tests/data/scripts/unit/test_utils.py
Due: ruff, ruff-format, pyright

Changed gas free status to filter out nonsubmitting buildings
  src/common-functions.vue
  src/components/social-cards/PageSocialCard.vue
  src/data/scripts/clean_and_split_data.py
  src/pages/AllElectric.vue
  src/templates/BuildingDetails.vue
Due: ruff, ruff-format, pyright

reverted graphql query
  src/pages/AllElectric.vue
Due: none

Regenerate Playwright snapshots with new stats They updated recently?
  e2e/building-snapshots.spec.ts-snapshots/all-electric-building-Mobile-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/mix-building--merch-mart--Mobile-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/no-image-building-Mobile-Chrome-linux.png
Due: none

Refactor to add geojson fetch function
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

Add unit tests for geojson functions
  src/data/scripts/clean_and_split_data.py
  tests/data/scripts/unit/test_utils.py
Due: ruff, ruff-format, pyright

add Null check to apply_verified_coordinates, add test
  src/data/scripts/utils.py
  tests/data/scripts/unit/test_utils.py
Due: ruff, ruff-format, pyright

add print statement to log changes made to coordinates
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

update README.md, small utils fix
  src/data/README.md
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

utils fix
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

fix pyright errors
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

ruff format fix
  src/data/scripts/utils.py
Due: ruff, ruff-format, pyright

remove unnecessary character, apply linter fixes
  src/components/BuildingsMap.vue
  src/pages/AllElectric.vue
  src/pages/Map.vue
Due: none

update README, ReleaseNotes, add images of changes
  src/data/README.md
  src/pages/ReleaseNotes.vue
  static/release-notes/2026/geocoding-after.webp
  static/release-notes/2026/geocoding-before.webp
Due: none

update images, fix README and add Release Notes
  src/data/README.md
  src/pages/ReleaseNotes.vue
  static/release-notes/2026/geocoding-after.webp
  static/release-notes/2026/geocoding-before.webp
Due: none

fix caption
  src/pages/ReleaseNotes.vue
Due: none

Regenerate image snapshots (REVIEW)
  e2e/building-snapshots.spec.ts-snapshots/all-electric-building-Desktop-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/all-electric-building-Mobile-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/mix-building--merch-mart--Desktop-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/mix-building--merch-mart--Mobile-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/no-image-building-Desktop-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/no-image-building-Mobile-Chrome-linux.png
  e2e/listing-pages-snapshots.spec.ts-snapshots/all-electric-page-Desktop-Chrome-linux.png
  e2e/listing-pages-snapshots.spec.ts-snapshots/all-electric-page-Mobile-Chrome-linux.png
Due: none

Update snapshots, take 2
  e2e/building-snapshots.spec.ts-snapshots/all-electric-building-Desktop-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/all-electric-building-Mobile-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/mix-building--merch-mart--Desktop-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/mix-building--merch-mart--Mobile-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/no-image-building-Desktop-Chrome-linux.png
  e2e/building-snapshots.spec.ts-snapshots/no-image-building-Mobile-Chrome-linux.png
  e2e/listing-pages-snapshots.spec.ts-snapshots/all-electric-page-Desktop-Chrome-linux.png
  e2e/listing-pages-snapshots.spec.ts-snapshots/all-electric-page-Mobile-Chrome-linux.png
Due: none

Fix incorrect tag of Loyola heat pump building
  src/constants/building-owners.json
  src/constants/buildings-custom-info.constant.vue
  src/pages/About.vue
  src/pages/GeothermalBuildings.vue
Due: none

Add image processing script and Loyola San Francisco Hall image
  README.md
  package.json
  scripts/convertBuildingImg.ts
  src/constants/building-images.constant.vue
  static/building-imgs/loyola/ID-254170-san-francisco-hall.webp
Due: yarn-lockfile

Add Building Owners Links
  src/constants/building-owners.json
  src/constants/buildings-custom-info.constant.vue
  src/templates/BuildingOwner.vue
Due: none

Add Mostly Electric Page May reveal more buildings using electric heat but with some gas leftover for other uses
  src/common-functions.vue
  src/components/social-cards/PageSocialCard.vue
  src/constants/page-social-images/page-social-configs.json
  src/pages/About.vue
  src/pages/MostlyElectric.vue
Due: none

Polish Geothermal Pill
  src/constants/buildings-custom-info.constant.vue
  src/scss/global.scss
  src/templates/BuildingDetails.vue
  static/icons/info-white.svg
Due: none

Fix stylelint error
  src/scss/global.scss
Due: none

Fix submission rate not counting years with no row
  src/data/scripts/grade_buildings.py
Due: ruff, ruff-format, pyright

Update README with Yarn Only Setup & Mac Issue
  README.md
Due: none

Fix merge error
  src/constants/building-images.constant.vue
Due: none

Polish admin pages and image uploader
  src/pages/Admin.vue
  src/pages/BuildingImageUploader.vue
  src/pages/SocialCards.vue
Due: none

Add Imagery to Many Big Buildings Inlucindg United Center, Soldier Field, Daley Center, and more
  src/constants/building-images.constant.vue
  static/building-imgs/ID-100856-united-center.webp
  static/building-imgs/ID-101762-richard-j-daley-center.webp
  static/building-imgs/ID-103595-141_West_Jackson_Boulevard.webp
  static/building-imgs/ID-103669-soldier-field.webp
  static/building-imgs/ID-103677-150_N_Riverside_Plaza.webp
  static/building-imgs/ID-238910-505_N_Lake_Shore_Drive.webp
  static/building-imgs/ID-250129-300_N_Lasalle.webp
Due: none

Add admin link to local home bottom
  src/pages/Index.vue
Due: none

Update visual snapshots
  e2e/core-pages-snapshots.spec.ts-snapshots/search-Mobile-Chrome-linux.png
  e2e/homepage-snapshots.spec.ts-snapshots/home-Desktop-Chrome-linux.png
  e2e/homepage-snapshots.spec.ts-snapshots/home-Mobile-Chrome-linux.png
  e2e/listing-pages-snapshots.spec.ts-snapshots/all-electric-page-Desktop-Chrome-linux.png
Due: none
